/* Para a Navbar não tampar os títulos das Seções ao usar os links */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

/* Contém todo o conteúdo da página */
body {
    background-color: snow;
}

/* Imagem ao lado do nome da Instituição */
.img-da-navbar {
    width: 40px;
    height: 40px;
}

/* Rodapé principal da página */
.footer_personal {
    /* Alterar o conteúdo do rodapé */
    color: white;
    /* Configurar Box-Model */
    background-color: #212529;
    /* Distância entre o elemento e a sua própria borda */
    padding: 45px;
}

/* Parte adaptada para o texto de informação */
.footer_personal .footer_info {
    /* Alinhamento do texto à esquerda */
    text-align: left;
}

/* Parte adaptada para o copyright e ícones */
.footer_personal .footer_copyright {
    /* Alinhamento do texto ao centro */
    text-align: center;
    /* Tamanho da fonte */
    font-size: 12px;
}