/* Para a Navbar não tampar os títulos das Seções ao usar os links */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

/* Contém todo o conteúdo da página */
body {
    background-color: snow;
}

/* Imagem ao lado do nome da Instituição */
.img-da-navbar {
    width: 40px;
    height: 40px;
}

/* Rodapé principal da página */
.footer_personal {
    /* Alterar o conteúdo do rodapé */
    text-align: center;
    font-size: 12px;
    color: white;
    /* Configurar Box-Model */
    background-color: #212529;
    padding: 45px;      /* Distância entre o elemento e a sua própria borda */
    /* margin-top: 100px;  /* Distância de um elemento para outro */
}